@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "./colors";
@import "./mobile";
@import "./desktop";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Inter", sans-serif;
  background-color: $bg-light;
  margin: 0;
  padding: 0;
  transition: all 0.1s ease;
  &.dark {
    background-color: $bg-dark;
  }
}
